<mat-toolbar color="primary">
	<span class="logo-wrapper">
		<img [src]="logo" alt="">
	</span>
</mat-toolbar>
<div class="spinner" *ngIf="loader.isShown">
	<mat-spinner></mat-spinner>
</div>

<div class="content">
	<router-outlet></router-outlet>
</div>

<div class="footer py-4">
	<div class="container">
		<div class="row">
			<div class="col-6">
				<p>
					{{ (site?.currentSite?.asObservable() | async)?.name }}
				</p>
			</div>
			<div class="col-6 text-right">
				<p>
					{{ (site?.currentSite?.asObservable() | async)?.phone }}
				</p>
				<p>
					{{ (site?.currentSite?.asObservable() | async)?.address }}
				</p>
			</div>
		</div>
	</div>
</div>
