<div class="banner-container d-flex align-items-center">
	<div class="banner-image-wrapper" [ngStyle]="{ 'background': 'url(' + banner + ') no-repeat center center' }">
	</div>
	<div class="banner-image-overlay">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12 d-flex flex-column align-items-center justify-content-center">
				<h1 class="banner-header mat-display-2">
					{{ (site?.currentSite?.asObservable() | async)?.description }}
				</h1>
				<div class="banner-logo-wrapper">
					<img [src]="site?.logo?.asObservable() | async" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
