<div class="d-flex justify-content-end">
	<button mat-icon-button mat-dialog-close>
		<mat-icon>close</mat-icon>
	</button>
</div>

<h2 mat-dialog-title>
	{{ (site.product.asObservable() | async)?.name }}
</h2>
<div mat-dialog-content>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<app-image [imageClass]="'product-image'" [id]="1"></app-image>
			</div>
			<div class="col-6 pl-2">
				<h3 class="mat-display-1" (click)="fill()">
					{{ (site.product.asObservable() | async)?.cost | ruble }}
				</h3>
				<p>
					{{ (site.product.asObservable() | async)?.description }}
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 mt-4">
				<form class="d-flex flex-column" [formGroup]="formGroup" *ngIf="state === 'initial'">
					<mat-form-field appearance="outline">
						<mat-label>ФИО</mat-label>
						<input type="text" matInput formControlName="name">
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Телефон</mat-label>
						<input type="text" matInput formControlName="phone">
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Email</mat-label>
						<input type="text" matInput formControlName="email">
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Дата</mat-label>
						<input type="text" matInput [matDatepicker]="picker" formControlName="dateTime">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
					</mat-form-field>
				</form>
				<div class="d-flex align-items-center flex-column" *ngIf="state === 'success'">
					<img src="/assets/icon-success.png"	style="height: 80px; width: 80px;" alt="">
					<h1 class="mat-headline my-4">Вы успешно записались!</h1>
					<p>Номер вашего заказа: {{orderId}}</p>
					<button mat-button color="primary" (click)="overlay.close()" class="mt-4">Готово</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div mat-dialog-actions>
	<button mat-button color="primary" *ngIf="state === 'initial'" (click)="purchase()">Записаться</button>
</div>
