<div class="container pt-4">
	<div class="row flex-wrap">
		<div class="col-4">
			<mat-card>
				<mat-card-title>Бизнес</mat-card-title>
				<mat-card-subtitle> Тут пока пусто 😢 </mat-card-subtitle>
				<mat-card-content> Нажми Вперед!, чтобы вывести свой бизнес в онлайн! </mat-card-content>
				<mat-card-actions>
					<button mat-button routerLink="/business/create" color="accent">Вперед!</button>
				</mat-card-actions>
			</mat-card>
		</div>
		<div class="col-4">
			<mat-card>
				<mat-card-title>Статистика</mat-card-title>
				<mat-card-subtitle> Какая-то не статистика 😢 </mat-card-subtitle>
				<mat-card-content> Создай свой первый онлайн бизнес за 10 минут! </mat-card-content>
				<mat-card-actions>
					<button mat-button routerLink="/business/create" color="accent">В онлайн!</button>
				</mat-card-actions>
			</mat-card>
		</div>
		<div class="col-4">
			<mat-card>
				<mat-card-title>История</mat-card-title>
				<mat-card-subtitle> И тут ничего 😢 </mat-card-subtitle>
				<mat-card-content> Деньги делаются только в онлайне! Нажимай Вперед! </mat-card-content>
				<mat-card-actions>
					<button mat-button routerLink="/business/create" color="accent">Тут деньги!</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>
