<div [formGroup]="categoriesForm">
	<ng-container *ngFor="let categoryForm of categoriesFormArray.controls; let i = index">
		<div [formGroupName]="i">
			<mat-form-field appearance="fill" class="full-width">
				<mat-label>Цена</mat-label>
				<input matInput formControlName="name">
			</mat-form-field>
			<mat-form-field appearance="fill" class="full-width">
				<mat-label>Описание доставки</mat-label>
				<input matInput formControlName="slug">
			</mat-form-field>
		</div>
	</ng-container>
	<button mat-raised-button color="primary">Добавить категорию</button>
	<button mat-raised-button color="primary">Сохранить</button>
</div>
