<div class="container">
	<div class="row">
		<div class="col-6">
			<h2 class="mat-display-1 mt-4 mb-4">Заполните данные</h2>
			<form class="d-flex flex-column" [formGroup]="formGroup">
				<mat-form-field appearance="outline">
					<mat-label>ФИО</mat-label>
					<input type="text" matInput formControlName="name">
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>Телефон</mat-label>
					<input type="text" matInput formControlName="phone">
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>Email</mat-label>
					<input type="text" matInput formControlName="email">
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>Адрес</mat-label>
					<input type="text" matInput formControlName="address">
				</mat-form-field>
			</form>
		</div>
		<div class="col-6">
			<h2 class="mat-display-1 mt-4 mb-4">Корзина</h2>
			<mat-divider></mat-divider>
			<ng-container *ngIf="(site?.basket?.asObservable() | async)?.length === 0">
				<p class="my-4">В вашей корзине нет товаров</p>
				<button mat-button routerLink="/" color="primary">В магазин</button>
			</ng-container>
			<mat-list *ngIf="(site?.basket?.asObservable() | async)?.length !== 0">
				<ng-container *ngFor="let item of site.basket.asObservable() | async">
					<mat-list-item>
						<div class="d-flex justify-content-between align-items-center" style="width: 100%">
							<div class="d-flex align-items-center">
								<app-image imageClass="basket-image" [id]="item.image[0]"></app-image>
								<p matLine class="mb-0 mx-4">{{ item.name }}</p>
							</div>
							<div>
								<mat-icon matListIcon (click)="remove(item)">delete</mat-icon>
							</div>
						</div>
					</mat-list-item>
					<mat-divider></mat-divider>
				</ng-container>
			</mat-list>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<mat-divider class="my-4"></mat-divider>
			<button mat-button color="primary" (click)="buy()">Оплатить</button>
		</div>
	</div>
</div>

