<mat-toolbar color="primary">
	<span>Конструктор сайтов</span>
	<span class="example-spacer"></span>
</mat-toolbar>
<ng-container *ngIf="sites$ | async as sites; else loader">
	<div *ngIf="!!sites.length; else nothingToShow" class="container">
		<mat-card *ngFor="let site of sites; trackBy: trackById" class="card">
			<mat-card-header>
				<mat-card-title>{{ site.name }}</mat-card-title>
				<mat-card-subtitle>{{ site.type }}, расположен по адресу {{ site.slug }}</mat-card-subtitle>
			</mat-card-header>
			<mat-card-actions class="with-padding">
				<button mat-icon-button color="primary" [routerLink]="['/edit', site.siteId]">
					<mat-icon>edit</mat-icon>
				</button>
				<button mat-icon-button color="primary" (click)="deleteProduct(site)">
					<mat-icon>delete</mat-icon>
				</button>
			</mat-card-actions>
		</mat-card>
		<mat-card [routerLink]="['/create']">
			<mat-card-content class="add">Добавить сайт</mat-card-content>
<!--			<img mat-card-image src="../../../../assets/plus-sign.png" class="image">-->
		</mat-card>
	</div>
</ng-container>
<ng-template #loader>
	<mat-spinner></mat-spinner>
</ng-template>
<ng-template #nothingToShow>
	<!--	<app-nothing-found-->
	<!--		*ngIf="!(isLoading$ | async)"-->
	<!--		[icon]="nothingFoundIcon"-->
	<!--		title="Вы не создали ни одного сайта">-->
	<!--	</app-nothing-found>-->
</ng-template>
