:host {
	width: 100%;
}

.container {
	margin: 20px 50px 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
}

.add {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}

.image  {
	width: 30%;
}

.with-padding {
	padding: 0 16px;
}
